.brands_container {
    padding-top: 73px;
    padding-bottom: 135px;
    max-width: 1102px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    padding: 46px 41px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #F6F6F6;
    border-radius: 22px;
    gap: 26px;
    h2{
        color: var(--skin-color);
        transition: all .3s ease-in-out;
    }
}
.card img {
    object-fit: cover;
}
    
    
//       .card h2 {
//     margin-top: 20px;
//     font-size: 1.5rem;
//   }
  
  .card p {
    margin-top: 10px;
  }





// MEDIA PART
  
  @media (max-width: 768px) {
    .brands_container {
      grid-template-columns: repeat(2, 1fr);
    }
    .card:nth-of-type(3) {
        grid-column: 1 / -1;
    }
  }
  
  @media (max-width: 480px) {
    .brands_container {
      grid-template-columns: 1fr;
    }
  }